authlib
bcrypt
celery
email-validator
ffmpeg-python
flask
flask-bcrypt
flask-cors
flask-limiter
flask-login
flask-mail
flask-migrate
flask-sqlalchemy
flask-wtf
gunicorn
httpx
itsdangerous
m3u8
markdown
mutagen
pillow
playwright
psycopg2-binary
pydantic
python-dotenv
razorpay
redis
requests
sentry-sdk
yt-dlp
